---
import Layout from "../../layouts/Layout.astro";
export let title = "Cat";
---

<Layout title={title}>
  <article>
    <h2>{title}</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi possimus
      aliquid sint porro vero facilis nobis ullam temporibus, cum placeat omnis
      exercitationem nisi, officia magnam velit impedit dolores dolor non
      perspiciatis. Quidem, repellat omnis. Voluptas architecto odio dolores
      itaque laudantium voluptate molestiae? Cum eos odit commodi aliquam
      aperiam repellat dolor numquam corrupti minima blanditiis voluptatum,
      quam, quia at earum quisquam obcaecati quos, maxime quis.
    </p>
    <p>
      Eum quos neque nam aliquam! Quibusdam porro fuga soluta, distinctio quasi
      dolore amet error, repellat nobis quae, officiis saepe sunt incidunt
      commodi laboriosam accusantium. Inventore optio vitae aut nihil delectus.
      Explicabo voluptas id quasi, ad dolorum consequatur laudantium molestiae
      laboriosam odit reprehenderit iusto blanditiis unde eligendi nostrum.
      Mollitia dolores amet accusamus aliquid quasi, voluptatem minima, magni
      pariatur voluptatibus, sed doloribus voluptas debitis quas facilis?
    </p>
  </article>
</Layout>
