---
import Layout from "../layouts/Layout.astro";

const content = [
  "Designing Engineering",
  "br",
  "",
  "&&",
  "Information Designing",
  "br",
  "Algorithmic UI",
  "&&",
  "br",
  "Markup",
  "≕ l♥ve",
];
---

<Layout title="Home" pageOrder={0}>
  <svg width="100%" height="100%" viewBox="0 0 256 256">
    <g transform="translate(128 128)">
      <circle fill="none" stroke-width="8" stroke="currentColor" r="64"
      ></circle>
    </g>
  </svg>
  <h2>
    {
      content.map((row, i) =>
        row === "hr" ? (
          <Fragment set:html={`<hr />`} />
        ) : row === "br" ? (
          <Fragment set:html={"<br />"} />
        ) : row === "&&" ? (
          <>
            <div class="overflow" style={`--i:${i}`}>
              <strong>{row}</strong>
            </div>
          </>
        ) : (
          <div class="overflow" style={`--i:${i}`}>
            <span>{row}</span>
          </div>
        )
      )
    }
  </h2>
</Layout>
<style>
  @keyframes enter {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }
  h2 {
    line-height: 1.3;
    text-align: center;
    grid-row: -3;
    justify-self: center;
    grid-column-start: 1;
    grid-column-end: 13;
  }
  span,
  strong {
    display: inline-block;
    animation-name: enter;
    animation-duration: 400ms;
    animation-fill-mode: both;
    animation-delay: calc(200ms + 90ms * var(--i));
    /* animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1.5); */
    animation-timing-function: cubic-bezier(1, 0.22, 0, 1.42);
  }
  .overflow {
    padding-top: 4px;
    display: inline-block;
    line-height: 1;
    overflow: clip;
  }
  :global(hr) {
    width: 20%;
    margin-inline: auto;
    border-color: hsl(var(--col-prim));
    border-style: solid;
    border-width: var(--space-m);
    margin-block: var(--space-m);
  }

  svg {
    grid-row: 1 / 5;
    overflow: visible;
  }

  @media (min-width: 640px) {
    h2 {
      width: auto;
      justify-self: start;
      text-align: left;
      grid-row: 2;
      grid-column-start: 2;
    }
    :global(hr) {
      margin-inline: auto;
    }
    svg {
      grid-column: -7 / -1;
      grid-row: 3/-1;
    }
  }
</style>
