---
import Icons from "./Icons.astro";

export interface link {
  name: string;
  url: string;
}
export interface Props {
  links: link[];
}

const isCurrent = (url: string) => Astro.url.pathname === url;

const { links } = Astro.props as Props;
---

<m-nav>
  <ul>
    {
      links.map(({ name, url }) => (
        <li data-path={url} data-current={isCurrent(url) ? "true" : null}>
          <a href={url}>
            <Icons width={28} height={28} type={name.toLowerCase()} />
          </a>
        </li>
      ))
    }
  </ul>
</m-nav>

<style>
  :global(html.is-fetching) m-nav {
    background-color: yellow;
    --h: 0.5;
  }
  :global(html.is-animating-out) m-nav {
    --h: 0.5;
  }
  m-nav {
    isolation: isolate;
    transition-property: background-color, opacity;
    transition-duration: 750ms;
    transition-delay: 5000ms;

    position: relative;
    display: grid;
    width: max-content;
    height: max-content;

    --o: 0.5;
    background-color: hsl(var(--col-wht) / var(--o));
    /* background-color: #ddd9 !important; */
    opacity: 0.75;

    border-radius: var(--space-3xs);
    padding: var(--space-3xs);
    align-items: center;

    box-shadow: 0 0 10px hsl(var(--col-blk) / 0.1);
  }
  m-nav:hover {
    transition-delay: 100ms;
    transition-duration: 250ms;
    opacity: 1;
  }
  ul {
    display: flex;
    /* gap: var(--space-2xs); */
    align-items: center;
  }
  li {
    /* stroke-dasharray: 2 4; */
    stroke-width: 1.5;
    /* padding: var(--space-3xs); */
    /* padding: 4px; */
    position: relative;
    transition-property: color, stroke-width;
    transition-duration: 200ms;
    /* transition-delay: 150ms; */
    /* font-weight: 1000; */
  }
  li::after {
    /* z-index: -1;
    transition-property: transform;
    transition-duration: 200ms;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transform-origin: bottom;
    transform: scaleY(0);
    background-color: hsl(var(--col-ternary));
    border-radius: var(--space-3xs); */
  }
  :global(html.is-animating-out) li::after {
    transition-duration: 200ms;
  }

  :global(html.is-fetching) li::after {
    transition-duration: 2500ms;
  }
  li:hover {
    stroke-width: 2.5;
  }
  li[data-current="true"] {
    color: hsl(var(--col-ternary));
    stroke-width: 2.5;
  }
  li[data-current="true"]::after {
    opacity: 1;
    /* transform: scale(var(--h, 1)); */
  }
</style>

<script>
  customElements.define(
    "m-nav",
    class customElement extends HTMLElement {
      links: NodeListOf<HTMLLIElement>;

      static get observedAttributes() {
        return [];
      }
      constructor() {
        super();

        this.links = this.querySelectorAll("ul li");
        // listners
        document.addEventListener("navigating-done", () => {
          this.updateLinks();
        });
      }

      updateLinks() {
        const currentLink = location.pathname;
        this.links.forEach(link => {
          if (link.dataset.path === currentLink) {
            link.dataset.current = "true";
            // this.currentLinkEl = link;
          } else {
            delete link.dataset.current;
          }
        });
      }

      connectedCallback() {}
      diconnectedCallback() {}
      attributeChangedCallback(name, oldValue, newValue) {}
    }
  );
</script>
