---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Work" pageOrder={4}>
  <article>
    <h2>So Much Work</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius sequi fugit
      expedita, quisquam facilis tempora doloremque cupiditate recusandae quae
      obcaecati quam, dolorum corporis necessitatibus possimus facere velit
      itaque saepe quia nihil dolor.
    </p>
    <p>
      Provident illo ipsa tenetur! Amet vel quas accusantium rem nihil quis.
      Error, tenetur distinctio labore nam perferendis necessitatibus eius
      voluptas dolores voluptatibus repellat, ipsa provident delectus sed
      facilis animi nisi! Animi, itaque.
    </p>
    <p>
      Dolore amet dignissimos aspernatur fuga provident recusandae laboriosam
      adipisci accusamus id consequatur. Nam totam saepe fugit, sit voluptatibus
      dolore, corporis dolor, ut consequuntur voluptate qui? Commodi, ratione
      tempore consectetur molestias ducimus praesentium?
    </p>
    <p>
      Et voluptate odit quisquam! Perferendis explicabo nobis quos, doloribus
      placeat laudantium quidem magnam. Ipsa, porro? Tempore veritatis eum
      voluptatem, praesentium commodi reprehenderit quibusdam obcaecati beatae
      laboriosam voluptas nisi, sit ipsam odit asperiores.
    </p>
    <p>
      Dolorem sit praesentium ducimus maiores, deserunt nemo veniam? Aspernatur
      odio, ipsa saepe deserunt impedit dicta quidem asperiores odit quia quo
      eius illum repellat dolorem, natus tempora! Quam, facere. Qui autem ipsa
      debitis.
    </p>
  </article>
</Layout>
